

@Model IEnumerable<StoreUltimae.Models.Product>;
    @{

ViewBag.Title = "Products";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Products</h2>

   

    <ul>

@foreach(var p in Model)
        {
            <li> @Html.ActionLink(p.name,"View Products", "Home", new { ProductName = p.name }, null)</li>
        }
    </ul>


