

@Model IEnumerable<StoreUltimae.Models.Product>;
    @{

ViewBag.Title = "Products";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Products</h2>

   

    <ul>

@foreach(var p in Model)
        {
            <li> @p.Name</li>
        }
    </ul>


